/FooBean.java.html
/HelloWorldSimpleTag.java.html
/ShuffleSimpleTag.java.html
/TileSimpleTag.java.html
/jspattribute.html
/jspattribute.jsp
/jspattribute.jsp.html
/shuffle.html
/shuffle.jsp
/shuffle.jsp.html
