/BookBean.java.html
/FindBookSimpleTag.java.html
/Functions.java.html
/HelloWorldSimpleTag.java.html
/RepeatSimpleTag.java.html
/book.html
/book.jsp
/book.jsp.html
/hello.html
/hello.jsp
/hello.jsp.html
/repeat.html
/repeat.jsp
/repeat.jsp.html
