/Direction.class
/Direction.java
/Location$1.class
/Location.class
/Location.java
/Snake.class
/Snake.java
/SnakeAnnotation.class
/SnakeAnnotation.java
/SnakeTimer$1.class
/SnakeTimer.class
/SnakeTimer.java
